.navigation-bar-container {
    padding-right:100px;
    width: 600px;
    height: 100%;
    float: right;
    background: DarkRed;
    margin-top: 22px
}

ul {
    list-style-type: none;
    margin: 0px;
    margin-top: 0px;
    padding: 0;
    overflow: hidden;
    border-top: 0px;
    border-color:White;
}
li {
    margin: auto;
}

li a {
    float: left;
    font-size: 22px;
}

li a {
    margin-left: 10px;
    margin-bottom: 15px;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    float: right;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}