.Banner
{
	//background:#ffd700;
	background:DarkRed;
	padding:3px;
	font-family: 'Roboto', sans-serif, Times New Roman, Helvetica, sans;
}
#banner {
	
}
#banner_td
{
	text-align:center;
	background-color:#8B0000;
	border-radius:15px;
	vertical-align: top;
}
#banner_table
{
	border-radius:15px;
	background:#8B0000;
}

.banner-text {
	margin-left:40px;
}

.big_heading
{
	font-size:64pt;
	color: White;
	padding:0px;
	margin:0px;
}

.small_heading
{
	color: White;
	padding:0px;
	margin:0px;
	font-size:14pt;
}

.logo {
	margin:10px;
}

.one_by_one
{
	height:1px;
	width:1px;
}